.sidebar-placeholder
 h1 Sidebar Empty
 p.lead
     | The sidebar is used when selecting certain objects or operations
     |  in the main user interface. It will open when needed,
     |  and can be closed using the
     button: i.icon-chevron-left
     |  button.
