<configuration scan="true" scanPeriod="1 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- :- is a separator, then the - is the default value -->
            <pattern>%date{HH:mm:ss.SSS} %-5level [%thread] %logger{} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <root level="debug">
        <appender-ref ref="ASYNC"/>
    </root>

    <logger name="org.apache.commons.beanutils.converters" level="off"/>
    <logger name="org.eclipse.jetty" level="info"/>

</configuration>
