// CSS used on the exception report view; expects Bootstrap CSS to be present as well.

body {
  margin-top: 5px;
}

dl:not(.dl-horizontal) dd {
  margin-left: 10px;
}

td.source-location {
  text-align: right;
}

.filtered {
  color: silver;
}

td .filtered {
  margin-left: 10px;
}