{:name        "Twixt Manual"
 :description "Awesome asset management for Clojure web applications."
 :github      "AvisoNovate/twixt"
 :api         "http://howardlewisship.com/io.aviso/twixt/"
 :pages       ["index"
               "getting-started"
               "uris"
               "exceptions"
               "jade"
               "stacks"
               "caching"
               "jsmin"
               "configuration"
               "direct-uris"
               "notes"]}
